$blue: #085a99;
$orange: #f99d3a;

$break-small: 320px;
$break-medium: 960px;
$break-large: 1200px;

html{
    padding-top: 8em;
}

body{
    margin: 0;
    font-family: lato;
}

.App {
    text-align: center;
}

.App-header {
    background-color: white;
    height: 50px;
    padding: 14px 20px 15px 0;
    color: #085a99;
    display: flex;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.App-tab{
    line-height: 1;
    padding: 10px 0 10px;
    text-decoration: none !important;
    &:hover{
        border-top: 1px solid $orange;
        border-bottom: 1px solid $orange;
        line-height: 1;
        cursor: pointer;
        color: $orange;
    }
}

.App-tab-active{
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    line-height: 1;
    cursor: pointer;
    color: $orange;
}

.App-header-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 3em;
    position: absolute;
    margin-left: 8.4%;
    top: 12px;
}

.App-header-right{
    display: flex;
    align-items: center;
    width: 36%;
    margin: 0 auto;
    justify-content: space-evenly;

    @media screen and (max-width: $break-large) {
        width: 55%;
    }
}

.horizontal-line{
    width: 100%;
    height: 2px;
    border-bottom: 1px solid #e6e4e4;
    -webkit-box-shadow: 2px 3px 2px -1px #dbdbdb;
    -moz-box-shadow: 2px 3px 2px -1px #dbdbdb;
    box-shadow: 1px 2px 2px -1px #dbdbdb;
    position: fixed;
    top: 74px;
    z-index: 200;
}

.App-title {
    font-size: 1.35em;
    position: relative;
    bottom: 1px;
    font-weight: 200;
    color: $blue;
}

.App-sub-section{
    margin-top: 4em;
    margin: 0 auto;
    margin-bottom: 1em
}

.App-sub-title{
    margin-top: 5.4em;
    font-size: 1.5em;
    margin-bottom: .25em;
    color: #085a99;
}

.App-intro {
    font-size: 17px;
    margin-bottom: 2em;
    margin-top: 0;
    color: #a3a4b7;
    font-weight: 100;
}

.App-body {
    display: flex;
    flex-wrap: wrap;
    max-width: 83%;
    margin: 0 auto;
}

.App-item {
    min-height: 54px;
    min-width: 54px;
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.App-item::-moz-selection {
    background: #2765a2;
}

.App-item::selection {
    background: #2765a2;
}

.App-item:hover{
    background-color: #f3f9ff;
    font-weight: 900;
}

.App-item-clicked {
    min-height: 54px;
    min-width: 54px;
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $orange;
    color: white;
}

.App-item-clicked::-moz-selection {
    background: none;
}

.App-item-clicked::selection {
    background: none;
}

.App-item-clicked:hover{
    background-color: #2765a2;
    font-weight: 900;
}

.degree1{
    transform: rotate(5deg);
}
.degree2{
    transform: rotate(15deg);
}
.degree3{
    transform: rotate(20deg);
}
.degree4{
    transform: rotate(355deg);
}
.degree5{
    transform: rotate(345deg);
}
.degree6{
    transform: rotate(340deg);
}

.App-demo-tech{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
    margin: 0 auto;
    margin-top: .45em;
    @media screen and (max-width: $break-large) {
        max-width: 95%;
    }
}

.App-tech-body{
    margin: 0 auto;
    margin-bottom: 5em;
}

.App-tech-section-header{
    align-self: center;
}

.App-sub-selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.App-tech-explanation{
    text-align: left;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: #6b6b6b;
}

.App-tech-header{
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 100;
}

.App-user-results{
    width: 100%;
}

.App-user-name{
    width: 50%;
    padding: 1em 1em 1em 1.5em;
    border-radius: 3px;
    background-color: #dadadc;
    margin: 0 auto;
    text-align: left;
    margin-top: 1.5em;
}

.App-user-value{
    width: 50.6%;
    padding: .5em 1em .5em 1.5em;
    border-radius: 3px;
    background-color: #e8e8e8;
    margin: 0 auto;
    text-align: left;
    margin-top: .25em;
}

.normalize{
    margin: 0 0 0 2em;
}

.label{
    font-weight: 100;
    margin-right: 4px;
}

.App-button{
    line-height: 1;
    text-decoration: none !important;
    border: 1px solid black;
    padding: 7px 11px 8px;
    border-radius: 3px;
    &:hover{
        color: $orange;
        border: 1px solid $orange;
    }
}

.App-warning{
    font-weight: 600;
    color: #e3e2f3;
    font-size: 20px;
    margin-top: 3em;
}

.App-form{
  width: 22em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  background-color: #dadadc;
  padding: 2.5em 1.2em 0em 0em;
  border-radius: 3px;
  margin-top: 2em;
}

.App-input-text{
    height: 3em;
    width: 23em;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 0 0 1em 1em;
    padding-left: 11px;
    &:focus{
        outline: 1px solid #a3a3da;
    }
    &:visited{
        outline: none;
    }
}

.App-submit-btn{
    position: relative;
    top: 1px;
    left: 188px;
    padding: .5em 1.4em;
    background-color: #085a99;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}

.App-cancel{
    position: relative;
    bottom: 33px;
    left: 268px;
    background-color: #f99d3a;
    border-radius: 3px;
    height: 34px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-cancel > a{
    text-decoration: none;
    color: white;
}

.App-input-checkbox{
    margin: 0 20.25em 1em 1em;
}

.form-group{
    margin-left: 2em;
}

.App-score{
    position: relative;
    right: 7px;
}

.App-score-label{
    position: relative;
    left: 6px;
}

.App-error{
    color: red;
    position: relative;
    bottom: 4px;
    right: 35px;
}

.App-trait-error{
    color: red;
    position: relative;
    bottom: 7px;
    left: -2px;
}
